<div id="<%= dom_id categorium %>">
  <p>
    <strong>Nome:</strong>
    <%= categorium.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= categorium.descricao %>
  </p>

  <p>
    <strong>Cor:</strong>
    <%= categorium.cor %>
  </p>

</div>
