<h1>Relatório</h1>

<ul>
  <li><a href="/relatorios/1">Quantidade e porcentagem de metas cumpridas</a></li>
  <li><a href="/relatorios/2">Quantidade e porcentagem de tarefas executadas</a></li>
  <li><a href="/relatorios/3">Destacar as semanas e meses mais produtivos</a></li>
  <li><a href="/relatorios/4">Destacar os turnos mais produtivos</a></li>
  <li><a href="/relatorios/5">Quais as categorias de tarefa mais realizadas</a></li>
  <li><a href="/relatorios/6">Quais as categorias de metas mais realizadas</a></li>
</ul>
