<div id="lembretes" class="container mt-5" style="margin-left: 350px">

  <div class="col-md-6 ms-5">
    <div class="row justify-content-between" style="border-bottom: 2px solid #989898">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-1 px-0">
            <%= link_to image_tag("/images/navigate_before.svg", width: 50), "/", class: "alinhamento" %>
          </div>
          <div class="col-md-11">
            <h1 class="px-0 alinhamento">Relatórios</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 my-5">
    <div id="categoria" class="row ms-5 px-4 py-4" style="word-wrap: break-word; background-color: white; border: 1px solid grey; border-radius: 0.5rem">

      <ul>
        <li class="py-2" ><a href="/relatorios/1" style="color: #B00100; font-size: 1.2rem">Quantidade e porcentagem de metas cumpridas</a></li>
        <li class="py-2"><a href="/relatorios/2" style="color: #B00100; font-size: 1.2rem">Quantidade e porcentagem de tarefas executadas</a></li>
        <li class="py-2"><a href="/relatorios/3" style="color: #B00100; font-size: 1.2rem">Destacar as semanas e meses mais produtivos</a></li>
        <li class="py-2"><a href="/relatorios/4" style="color: #B00100; font-size: 1.2rem">Destacar os turnos mais produtivos</a></li>
        <li class="py-2"><a href="/relatorios/5" style="color: #B00100; font-size: 1.2rem">Quais as categorias de tarefa mais realizadas</a></li>
        <li class="py-2"><a href="/relatorios/6" style="color: #B00100; font-size: 1.2rem">Quais as categorias de metas mais realizadas</a></li>
      </ul>

    </div>
  </div>

</div>

