<div class="container my-5">

  <h1>Quantidade e porcentagem de metas cumpridas</h1>

  <div class="mt-4">
    <p>Quantidade: <%= @atividades_concluidas.length %></p>
    <p>Porcentagem: <%= @atividades_concluidas.length * 100 / @atividades.length %>%</p>
  </div>

</div>
