<div class="container my-5">

  <h1>Quais as categorias de tarefa mais realizadas</h1>

  <div class="mt-4">
    <% @qtd_atividades_por_categoria.each do |qtd_categoria| %>
      <p>Nome da categoria: <%= qtd_categoria[0] %> - Quantidade de tarefas realizadas: <%= qtd_categoria[1] %></p>
    <% end %>
  </div>

</div>