<h1>Quais as categorias de tarefa mais realizadas</h1>

<% @qtd_atividades_por_categoria.each do |qtd_categoria| %>
  Nome da categoria: <%= qtd_categoria[0] %> - Quantidade de tarefas realizadas: <%= qtd_categoria[1] %>
<% end %>