<div id="<%= dom_id lembrete %>">
  <p>
    <strong>Descricao:</strong>
    <%= lembrete.descricao %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= lembrete.data %>
  </p>

  <p>
    <strong>Horario:</strong>
    <%= lembrete.horario %>
  </p>

</div>
