.simple-calendar {
}

.day {
    min-height: 4rem;
    max-width: 2rem;
}

.wday-0 {}
.wday-1 {}
.wday-2 {}
.wday-3 {}
.wday-4 {}
.wday-5 {}
.wday-6 {}

.today {
    color: deeppink;
}

.past {
    color: #CCCCCC;
}
.future {}

.start-date {}

.prev-month {
    color: #DDD;
}
.next-month {
    color: #DDD;
}
.current-month {
    color: #D94339;
}

.has-events {}


.calendar-title{
    color: #373234;
    font-size: 1.9rem;
    font-weight: 600;
}

.alinhamento{
    vertical-align: middle;
}

.link_atividade{
    color: white;
    text-decoration: none;
}

.link_atividade:hover{
    color: white;
    font-weight: 600;
    text-decoration: none;
}